extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.w3-dark-grey
        a.navbar-brand(href='/home') Feed/Home
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/repositorio') Repositório
                li.nav-item
                    a.nav-link(href='/recursosprivados') Recursos Privados

            ul.navbar-nav.float-right
                li.nav-item
                    a.nav-link(href='/users/detalhe/') Conta
                li.nav-item
                    a.nav-link(href='/users/manage') Admin

    .w3-container.w3-boarder-blue.w3-center
        .w3-container.w3-boarder-blue.w3-left
            h3 Actualizações mais recentes
    
        .w3-container.w3-border-black
            each p in lista
                .w3-container.w3-bottombar.w3-border-black.w3-center.w3-padding
                    .w3-container
                        b #{p.title} - #{p.dateCreation}
                        p #{p.body}
                        //author name
                        i #{p.author}
                        a(href='/recursos/'+p.resource_id) - Ver Recurso

    footer
        .w3-container.w3-gray.w3-center