extends layout

block content
  h1 Gestão de Recursos
  ul.w3-ul
    li
      a(href='/home') Home
    li
      a(href='/registo') Registo
    li
      a(href='/') Login
    li
      a(href='/recursos') Lista de Recursos
    li
      a(href='/logout') Logout
    li
      a(href='/recursos/upload') Novo Recurso
    li
      a(href='/users') Lista de Users

    .w3-container.w3-gray.w3-center
        p
        a.w3-margin(href="/home") Voltar
        p