extends layout

block content
  h1 Lista de Tarefas
  .w3-container.w3-margin
    table.w3-table-all
        tr
            th ID:
            th Título
            th DataRegisto
            th Visibilidade
        each t in lista
            tr
                td= t.titulo
                td= t.dataRegisto
                td= t.visibilidade
                td Remover

