html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    .w3-container.w3-margin.w3-border.w3-indigo
      .w3-container.w3-indigo
        h3 Criar Recurso
        form.w3.container(action='/recursos' method='POST')
          p
          label.w3-bold Titulo
          input.w3-input.w3-border(type="text", name="title")
          p         
          label.w3-bold Subtítulo
          input.w3-input.w3-border(type="text", name="subtitle")
          p         
          label.w3-bold Descrição
          input.w3-input.w3-border(type="text", name="desc")
          p     
          label.w3-bold Tipo
            select.w3-input.w3-border(name="type")
              option(value="livro") Livro
              option(value="artigo") Artigo
              option(value="aplicação") Aplicação
              option(value="monografia") Monografia
              option(value="relatorio") Relatório
              option(value="trabalho") Trabalho
              option(value="tese") Tese
              option(value="outro" selected) Outro
          p
          label.w3-bold Unidade Curricular
            select.w3-input.w3-border(name="uc")
              option(value="pi") Programação Imperativa
              option(value="anal") Análise
              option(value="log") Lógica
              option(value="pri") Processamento e Representação de Informação
              option(value="sd") Sistemas Distribuidos
              option(value="pei") Projeto Engenharia Informática
              option(value="outro" selected) Outro
          p 
          label.w3-bold Ano
            select.w3-input.w3-border(name="year")
              option(value="1ano") 1ºAno
              option(value="2ano") 2ºAno
              option(value="3ano") 3ºAno
              option(value="4ano") 4ºAno
              option(value="5ano") 5ºAno
              option(value="outro" selected) Outro
          p
          label.w3-bold Visiblidade
            select.w3-input.w3-border(name="visibility")
              option(value="publico" selected) Público
              option(value="privado") Privado

          p
          button.btn.btn-primary(type='submit') Submit    
      
      
      .w3-container.w3-blue-grey.w3-center
        p
        a.w3-margin(href="/") Voltar a homepage
        p