extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.w3-dark-grey
        a.navbar-brand(href='/home') Feed/Home
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/repositorio') Repositório
                li.nav-item
                    a.nav-link(href='/recursosprivados') Recursos Privados

            ul.navbar-nav.float-right
                li.nav-item
                    a.nav-link(href='/users/detalhe/') Conta
                li.nav-item
                    a.nav-link(href='/users/manage') Admin

    .w3-container.w3-boarder.w3-dark-grey
      Posts mais Recentes deste Recurso
      each p in lista
        .w3-container.w3-boarder.w3-white
          p Title : #{p.title}
          p dateCreation : #{p.dateCreation}
          p body : #{p.body}
          p author : #{p.author}
          p
          a(href="/postes/apagar/"+rec_id+"/"+ user_id + "/" +p._id) Apagar Post
    .w3-container.w3-boarder.w3-dark-grey
      Acrescentar post:
      form.w3.container(action='/postes/criar/'+rec_id method='POST', enctype='text')
        label.w3-bold Titulo
        input.w3-input.w3-border(type="text", name="title")
        p
        label.w3-bold Corpo
        input.w3-input.w3-border(type="text", name="body")

        button.w3-button.w3-block.w3-margin-top.w3-margin-bottom.w3-gray(type="submit") Submit


    footer
        .w3-container.w3-dark-grey.w3-center
          p
          a.w3-margin(href="/recursos/"+rec_id) Voltar
          p