extends layout

block content
  .w3-container.w3-margin.w3-border.w3-ligh-grey
    .w3-container.w3-ligh-grey
      h3 Criar Recurso
      form.w3.container(action='/recursos/inserir' method='POST', enctype='multipart/form-data')
        p
        label.w3-bold Name
        input.w3-input.w3-border(type="text", name="name")
        p
        label.w3-bold Username
        input.w3-input.w3-border(type="text", name="username")
        p
        label.w3-bold Email
        input.w3-input.w3-border(type="text", name="email")
        p
        label.w3-bold Password
        input.w3-input.w3-border(type="text", name="password")
        p
        label.w3-bold Filiation
          select.w3-input.w3-border(name="filiation")
            option(value="estudante") Estudante
            option(value="professor") Professor
        p
        button.btn.btn-primary(type='submit') Submit


    .w3-container.w3-dark-grey.w3-center
      p
      a.w3-margin(href="/home") Voltar a homepage
      p