extends layout
block content
    .w3-card-4 
      //Registar Aluno
      header.w3-container.w3-teal
        h3 Registar Aluno
      .w3-container
        form.w3-container(action='/alunos/registar' method='POST')
          label
            b Número
          input.w3-input.w3-border.w3-light-grey(type='text', name='Número', value='')

          label
            b Nome
          input.w3-input.w3-border.w3-light-grey(type='text',name='Nome' , value='')

          label
            b Git
          input.w3-input.w3-border.w3-light-grey(type='text', name='Git', value='')
          input.w3-btn.w3-blue-grey(type='submit' value='Registar')
      
      hr
      //Lista de Alunos
      header.w3-container.w3-teal
        h3 Lista de Alunos 
      if lista.length > 0
        .w3-container
          table(class="w3-table-all")
            tr 
              th Número
              th Nome
              th Git
              th 
            each a in lista
              tr
                td
                  a(href='/alunos/'+a.Número) #{a.Número}
                td= a.Nome
                td
                  a(href=a.Git) #{a.Git}
                td
                  button.w3-button.w3-red(onclick="removeAluno('" + a.Número + "')" ) x
                  a(href=('/alunos/editar/'+ a.Número) class='button.w3-button.w3-blue') +
      else
        div(class="w3-container")
          p Ainda não há alunos registados...
      footer(class="w3-container w3-teal")
        address Gerado por galuno :: 2020-Novembro