extends layout
block content
    .w3-card-4 
      //Registar Aluno
      header.w3-container.w3-teal
        h3 Editar Aluno
      .w3-container
        form.w3-container(action='/alunos/registar' method='POST')
          label
            b Número
          input.w3-input.w3-border.w3-light-grey(type='text', name='Número', value=aluno.Número)

          label
            b Nome
          input.w3-input.w3-border.w3-light-grey(type='text',name='Nome' , value=aluno.Nome)

          label
            b Git
          input.w3-input.w3-border.w3-light-grey(type='text', name='Git', value=aluno.Git)
          input.w3-btn.w3-blue-grey(type='submit' value='Registar')