doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="/javascripts/axios.min.js")
    //script(src='/javascripts/scripts.js')
  body
    block content
